
#tabbed_box_1 {margin: 0px auto 0px auto;width:330px;}
.tabbed_box h4 {font-family:Arial, Helvetica, sans-serif;font-size:23px;color:#ffffff;letter-spacing:-1px;margin-bottom:10px;}
.tabbed_box h4 small {color:#e3e9ec;font-weight:normal;font-size:12px;font-family:Verdana, Arial, Helvetica, sans-serif; position:relative;top:-4px;left:6px;letter-spacing:0px;}
ul.tabs {margin:0px; padding:0px;margin-top:5px;margin-bottom:7px; margin-left:10px;}
ul.tabs li {list-style:none;display:inline;}
ul.tabs li a {color:#fff;padding:4px 20px 7px 20px;text-decoration:none;font-size:12px; border-left:1px solid #ccc; border-top:1px solid #ccc; border-right:1px solid #ccc;  background-image:url(../images/bg-top-line-header.jpg); font-weight:bold;}
ul.tabs li a:hover {background-image:url(../images/bg-title.jpg); background-position:top; color:#000;}
ul.tabs li a.active {background-image:none; color:#000; ;border-bottom: 1px solid #ffffff; }
.content {background-color:#ffffff;padding:0px;border-top:1px solid #ccc; }
#content_2, #content_3 { display:none; }
.content ul {margin:0px;padding:0px 5px 0px 5px;}
.content ul li {list-style:none;border-bottom:1px dotted #ccc;padding-top:8px;padding-bottom:8px;font-size:13px; padding-left:10px;}
.content ul li:last-child { border-bottom:none;}
.content ul li a {text-decoration:none;color:#3e4346;}
.content ul li a small {color:#8b959c;font-size:9px;position:relative;left:4px;top:0px;}
.content ul li a:hover {color:#a59c83;}
.content ul li a:hover small {color:#baae8e;}/* CSS Document */

